/Microservicios/Gestion de patrocinadores y compra/vendor
/Microservicios/Gestion de patrocinadores y compra/firebaseCred.json

/Microservicios/Gestion_entrega_api/venv
/Microservicios/Gestion_entrega_api/gestion-entrega-api-firebase-adminsdk-fbsvc-56f9065a6d.json

/Microservicios/KioscoDigital.WebAPI/firebase_key.json
/Microservicios/KioscoDigital.WebAPI/bin/Debug/net8.0/firebase_key.json

/webhook/weebhook-5b7c6-firebase-adminsdk-fbsvc-f8d7a12981.json

/APIgateway/node_modules
/KioscoDigital.WebAPI/.vs